/** @format */

@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Kanit:wght@600&family=Montserrat&family=Red+Hat+Display&display=swap");
/* google fonts */
/******************** Global styles****************** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	color: rgb(242, 242, 242);
	background-color: rgb(6, 6, 6);
}
h1 {
	font-family: "BioRhyme", serif;
	font-size: 3rem;
	font-weight: 500;
}
.text-warning {
	color: rgb(170, 159, 96) !important;
}
.small__caps {
	font-variant: small-caps;
}
.sign-in {
	width: 100%;
}
.linky {
	text-decoration: none;
}
/**************** NavBar styles ***************/

.navbar-brand {
	font-size: 0.9rem;
	font-weight: 700;
}
main {
	margin: 2em auto 0;
	width: 90%;
	max-width: 450px;
	padding: 2em 1em 0;
	border: 2px solid rgb(170, 159, 96);
	border-radius: 15px;
}
form {
	font-size: 0.9rem;

	background-color: rgb(10, 10, 10);
}
input::placeholder,
.question,
.checkbox {
	font-size: 0.8rem;
}
.form-group {
	padding: 1em;
}
.security,
footer {
	font-size: 0.6rem;
}
@media (min-width: 650px) {
	.navbar-nav {
		width: 50%;
		justify-content: space-between;
		margin: 0 auto;
	}
}
